.search-form__label {
   padding: 2px 0 2px;
   margin-top: 2px;
   display: flex;
   justify-content: center;
   text-decoration: none;
   align-items: center;
}

.search-form__label:has(:focus-visible) {
   outline: 1px solid #fff;
}

.search-form__label:hover {
   text-decoration: underline;
}

.search-form__label:has(.search-form__textfield) {
   text-decoration: none;
}