.content__video-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 396px;
}

/* .content__video-card:active {
    background-color: #545050;
}

.content__video-card:hover {
    text-decoration: underline;
}

.content__video-card:focus {
    outline: none;
}

.content__video-card:focus-visible {
    outline: auto;
} */