.search-form__textfield {
    width: 225px;
    background-color: transparent;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: inherit;
    line-height: 23px;
    color: white;
    border: 1px #fff solid;
    border-style: solid none;
    /* appearance: none; */
}

.search-form__textfield:focus {
    outline: none;
}

.search-form__textfield:focus-visible {
    outline: none;
}